[Unit]
Description=Monitor resol vbus temperatures

[Service]
Nice=1
ExecStart=/root/vbus-collector/vbus-collector --no-print --delay 60 --db /root/vbus-collector/data.db /dev/ttyUSB0
User=root
Group=root

[Install]
WantedBy=multi-user.target
